<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 2</title>
    <style>
        body {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100%;
}
    </style>
</head>

<body>
    <article>
        <h1>About</h1>
        <p>
            Hi, kita adalah Kelompok 2 kita adalah seorrang Mahasiswa Semester 5,Yang beranggotakan 4 anak, Terdiri dari 
            1. Masagus Danang Iriandi 21.83.0646, 
            2. Naufal Maheswara 21.83.0663, 
            3. Adila Fitri Widyawati 21.83.0695,
            4. Dewi Nur Istikhomah 21.83.0662.
        </p>
        <p>
            Tujuan dibentuknya kelompok ini adalah untuk menyelesaikan tugas tugas yang diberikan dosen maupun asisten praktikum dengan mata kuliah Cloud Computing.
        </p>
        <p>
            Sehingga kelompok kami mendapatkan nilai yang memuaskan dan tidak mengulang mata kuliah ini.
        </p>
    </article>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2023 Kelompok 2.</p>
    </footer>
</body>
</html>             