<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <titlle> Kelompok 2</title>
        <style>
            body {
      background-image: url("background.jpg");
      background-repeat: no-repeat;
      position: fixed;
      width: 100%;
      height: 100%;
      background-size: 100%;
    }
        </style>
    </head>
  
</head>
<body>
    <header style="text-align: center;">
    
        <h1>Kelompok 2</h1>
        <p>(Computer Engineering-21S1TK02)</p>
     
    </header>
    <article style="text-align: center;">
        <h2></h2>
        <nav>
            <strong> <a class="navbar-brand" href="{{ url_for('profile') }}">Profile | </a> </strong>
            <strong> <a class="navbar-brand" href="{{ url_for('about') }}">About | </a> </strong>
        </nav>
        